{
    "env": {
        "es6": true,
        // TODO Configure this in the `test` folder, not globally
        "mocha": true
    },
    "rules": {
        // full documentation here : http://eslint.org/docs/rules

        // Possible errors
        "comma-dangle": [2, "never"], // don't let a comma at the end of object properties or array element
        "no-cond-assign": [2, "always"], // no assignments in conditional statements
        "no-console": true,  // no console.log() statements in production code
        "no-constant-condition": true, // no constants in conditional statements
        "no-control-regex": true,  // no control characters in regex's
        "no-debugger": true, // no debugger in productin code
        "no-dupe-args": true, // no duplicated arguments in functions
        "no-dupe-keys": true, // no duplicated keys when creating object literals
        "no-duplicate-case": true, // no duplicated `case` in `switch` statements
        "no-empty": true, // no empty blocks
        "no-empty-class": true, // no empty character class in regex's
        "no-ex-assign": true, // do not assign any value to an Exception raised
        "no-extra-boolean-cast": true, // do not use !!falseExpression to cast to boolean
        "no-extra-parens": true,  // do not use extra parenthesis
        "no-extra-semi": true,  // do not use extra semicolons
        "no-func-assign": true, // do not overwrite variables declared as functions
        "no-inner-declarations": [2, "both"], // only declare var's and funct's on function scope
        "no-invalid-regexp": true,  // validates string arguments passed to RegExp constructor
        "no-irregular-whitespace": true, // detects special characters used as spaces
        "no-negated-in-lhs": true,  // do not use negation in the left operand in an `in` expression
        "no-obj-calls": true, // prevent calling global objects as if they were functions
        "no-regex-spaces": true, // do not use multiple spaces in regex's
        "no-reserved-keys": true, // do not use reserved words as object literal keys
        "no-sparse-arrays": true, // do not use sparse arrays (empty elements)
        "no-unreachable": true, // detects unreachable statements (after return, throw,...)
        "use-isnan": true, // do not compare with `NaN` value, use isNan() instead
        "valid-jsdoc": true, // ensure JSDoc comments are valid
        "valid-typeof ": true, // ensure that typeof is used correctly (compared to right string value)

        // Best practices
        // "block-scoped-var": 
        // "complexity": 
        // "consistent-return": 
        // "curly": 
        // "default-case": 
        // "dot-notation": 
        // "eqeqeq": 
        // "guard-for-in": 
        // "no-alert": 
        // "no-caller": 
        // "no-div-regex": 
        // "no-else-return": 
        // "no-empty-label": 
        // "no-eq-null": 
        // "no-eval": 
        // "no-extend-native": 
        // "no-extra-bind": 
        // "no-fallthrough": 
        // "no-floating-decimal": 
        // "no-implied-eval": 
        // "no-iterator": 
        // "no-labels": 
        // "no-lone-blocks": 
        // "no-loop-func": 
        // "no-multi-spaces": 
        // "no-multi-str": 
        // "no-native-reassign": 
        // "no-new": 
        // "no-new-func": 
        // "no-new-wrappers": 
        // "no-octal": 
        // "no-octal-escape": 
        // "no-process-env": 
        // "no-proto": 
        // "no-redeclare": 
        // "no-return-assign": 
        // "no-script-url": 
        // "no-self-compare": 
        // "no-sequences": 
        // "no-throw-literal": 
        // "no-unused-expressions": 
        // "no-void": 
        // "no-warning-comments": 
        // "no-with": 
        // "radix": 
        // "vars-on-top": 
        // "wrap-iife": 
        // "yoda": 

        // Strict mode
        "no-extra-strict": false,
        "strict": [2, "function"],

        // Variables
        // "no-catch-shadow": 
        // "no-delete-var": 
        // "no-label-var": 
        // "no-shadow": 
        // "no-shadow-restricted-names": 
        // "no-undef": 
        // "no-undef-init": 
        // "no-undefined": 
        // "no-unused-vars": 
        // "no-use-before-define": 

        // Node.js
        // "handle-callback-err": 
        // "no-mixed-requires": 
        // "no-new-require": 
        // "no-path-concat": 
        // "no-process-exit": 
        // "no-restricted-modules": 
        // "no-sync": 

        // Stylistic issues
        // "indent": 
        // "brace-style": 
        // "camelcase": 
        // "comma-spacing": 
        // "comma-style": 
        // "consistent-this": 
        // "eol-last": 
        // "func-names": 
        // "func-style": 
        // "key-spacing": 
        // "max-nested-callbacks": 
        // "new-cap": 
        // "new-parens": 
        // "no-array-constructor": 
        // "no-inline-comments": 
        // "no-lonely-if": 
        // "no-mixed-spaces-and-tabs": 
        // "no-multiple-empty-lines": 
        // "no-nested-ternary": 
        // "no-new-object": 
        // "no-space-before-semi": 
        // "no-spaced-func": 
        // "no-ternary": 
        // "no-trailing-spaces": 
        // "no-underscore-dangle": 
        // "no-wrap-func": 
        // "one-var": 
        // "operator-assignment": 
        // "padded-blocks": 
        // "quote-props": 
        "quotes": [2, "single"],
        // "semi": 
        // "semi-spacing": 
        // "sort-vars": 
        // "space-after-function-name": 
        // "space-after-keywords": 
        // "space-before-blocks": 
        // "space-before-function-parentheses": 
        // "space-in-brackets": 
        // "space-in-parens": 
        // "space-infix-ops": 
        // "space-return-throw-case": 
        // "space-unary-ops": 
        // "spaced-line-comment": 
        // "wrap-regex": 

        // ECMAScript 6
        // "no-var": 
        // "generator-star-spacing": 

        // Legacy
        // "max-depth": 
        // "max-len": 
        // "max-params": 
        // "max-statements": 
        // "no-bitwise": 
        "no-plusplus": false,

    },
    "globals": {
        "expect": true,
        "module": true,
        "require": true
    },
    "ecmaFeatures": {
        "arrowFunctions": true,
        "binaryLiterals": false,
        "blockBindings": true,
        "classes": true,
        "defaultParams": false,
        "destructuring": false,
        "forOf": false,
        "generators": true,
        "modules": true,
        "objectLiteralComputedProperties": false,
        "objectLiteralDuplicateProperties": false,
        "objectLiteralShorthandMethods": false,
        "objectLiteralShorthandProperties": false,
        "octalLiterals": false,
        "regexUFlag": false,
        "regexYFlag": false,
        "spread": false,
        "superInFunctions": false,
        "templateStrings": false,
        "unicodeCodePointEscapes": false,
        "globalReturn": false,
        "jsx": false
    }
}
